@tailwind base;
@tailwind components;
@tailwind utilities;

.footerHead{
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */
.logo{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* .logo {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
} */

.MainFont{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

